certificates
db
.classpath
.project
sources/brain-fights-web/.classpath
sources/brain-fights-web/.project
sources/brain-fights-web/.settings
sources/brain-fights-web/.DS_Store
sources/brain-fights-web/tmp/*
sources/brain-fights-web/eclipse/*
sources/brain-fights-web/precompiled/*
sources/brain-fights-web/lib/*
sources/brain-fights-web/test-result/*
.DS_Store
workspace
sources/brain-fights-android/.idea/.name
sources/brain-fights-android/.idea/compiler.xml
sources/brain-fights-android/.idea/copyright/profiles_settings.xml
sources/brain-fights-android/.idea/encodings.xml
sources/brain-fights-android/.idea/gradle.xml
sources/brain-fights-android/.idea/misc.xml
sources/brain-fights-android/.idea/modules.xml
sources/brain-fights-android/.idea/runConfigurations.xml
sources/brain-fights-android/.idea/vcs.xml
sources/brain-fights-android/BrainFights.iml
sources/brain-fights-web/brain-fights-web.iml
sources/brain-fights-web/brain-fights-web.ipr
sources/brain-fights-web/brain-fights-web.iws
sources/BrainFightsAPI-soapui-project.xml.BACKUP.9012.xml
sources/BrainFightsAPI-soapui-project.xml.BASE.9012.xml
sources/BrainFightsAPI-soapui-project.xml.LOCAL.9012.xml
sources/BrainFightsAPI-soapui-project.xml.REMOTE.9012.xml
sources/brain-fights-web/modules/secure
